@model IEnumerable<galli.mingucci._5i.Progetto_E_Commerce.Data.Circuit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipology)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CircuitLenght)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurvesNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceLenght)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipology)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CircuitLenght)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurvesNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceLenght)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Name">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
