@model IEnumerable<galli.mingucci._5i.Progetto_E_Commerce.Data.Prenotation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoursPrenoted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeopleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChoosenCircuit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PTotMoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CircuitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoursPrenoted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeopleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoosenCircuit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PTotMoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CircuitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TotalBill">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TotalBill">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TotalBill">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
